<div class="container-fluid">
  <div class="row">
    <div
      class="col col-12 col-sm-4 col-md-4 col-lg-3"
      *ngFor="let i of cardData"
    >
      <div class="card" (click)="enableInput()">
        <!-- <img *ngIf="weatherData" src="..." class="card-img-top" alt="..." /> -->
        <div class="nodata card-img-top"></div>
        <div class="card-body">
          <div class="pad12" *ngIf="i.selected">
            <div class="input-group flex-nowrap">
              <input
                type="text"
                class="form-control"
                placeholder="enter city name"
                aria-label="Username"
                [(ngModel)]="i.inputVal"
                aria-describedby="basic-addon1"
              />
              <button class="btn btn-primary btn-block">check</button>
            </div>
          </div>

          <!-- <div class="pad12">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card">
	<img
    ng-if="cardData.selected"
    class="card-img-top"
    src="{{cardData.imageUrl}}"
    alt="{{cardData.alt}}"
  />
	<div class="selection card-body" ng-if="!cardData.selected">
		<label for="browser">Choose your browser from the list:</label>
		<input list="browsers" name="browser" id="browser" />
		<datalist id="browsers">
			<option value="place"> </option>
		</datalist>
	</div>
	<div class="card-body">
		<h5 class="card-title">Card title</h5>
		<p class="card-text">
			Some quick example text to build on the card title and make up the bulk of
			the card's content.
		</p>
		<a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
</div> -->
