@import "~bootstrap/dist/css/bootstrap.css";
.nodata {
  background: #b8b1b6;
  height: 150px;
}
.errorData {
  background: red;
  height: 150px;
}
.card-body {
  padding: 15px !important;
}
.pad12 {
  padding: 10px;
}
.card-img-top {
  height: 250px !important;
}
.Mist {
  background-image: url("https://miro.medium.com/max/1250/0*Q2EFk7g36R0h8dAZ");
  width: 100%;
  background-size: cover;
}
